# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Ambiente
.env
.env.local
.env.production

# Banco de dados
*.sqlite
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
